# Elytra Keyboard
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="e118", ATTRS{idProduct}=="0001", MODE="0660", GROUP="usb-write-access", TAG+="uaccess", TAG+="udev-acl"
